name: Proces push to main

on:
  push:
    branches:
      - main
        
jobs:
  tag-release:
      name: On push main
      runs-on: ubuntu-24.04
      permissions:
        contents: write
      steps:
        - name: Checkout sources
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Checkout sources to make local actions available
          uses: actions/checkout@v4

        - name: Get next release version for repo
          id: version
          uses: ./actions/artifact-version

        - name: Tag Repo
          uses: richardsimko/update-tag@v1.1.6
          with:
            tag_name: ${{steps.version.outputs.value}}
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}